<p id="notice"><%= notice %></p>
</br>
 <div style='float: right;'>
<iframe src="http://free.timeanddate.com/clock/i4qxeiaw/n4527/szw110/szh110/hoc000/hbw2/hfceee/cf100/hncccc/fdi76/mqc000/mql10/mqw4/mqd98/mhc000/mhl10/mhw4/mhd98/mmc000/mml10/mmw1/mmd98" frameborder="0" width="130" height="132"></iframe>
</div> 
</br>
</br>
</br>
</br>
</br>
<center>
<h1>Sessions</h1>

<hr class="colorgraph"><br>
<a href="sessions/new"><input type="button" name="login" style="width:200px; height:100px;" value="New Session" />

<a href="users"><input type="button" name="login" style="width:200px; height:100px;" value="Back" />
</a>
<br>
<br>
<hr class="colorgraph"><br>
<table>
<table border="3" style="width:80%">
  <thead>
    <tr>
      <th>Session name</th>
      <th>Program</th>
	<th>Batch</th>
      <th>Description</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.session_name %></td>

        <td><%= session.program.program_tigle%></td>
	<td><%= session.batch %></td>
        <td><%= session.description %></td>
        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


