<%= form_for(@stu) do |f| %>
  <% if @stu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stu.errors.count, "error") %> prohibited this stu from being saved:</h2>

      <ul>
      <% @stu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Student_Name %><br>
    <%= f.text_field :student_name %>
  </div>
  <div class="field">
    <%= f.label :Father_name %><br>
    <%= f.text_field :f_name %>
  </div>
  <div class="field">
    <%= f.label :reg_no %><br>
    <%= f.text_field :reg_no %>
  </div>

  <div class="field">
    <%= f.label :Batch %><br>
    <%= f.collection_select(:session_id, Session.all, :id, :batch )%>
  </div>
  <div class="field">
    <%= f.label :Domicile %><br>
<select name="stu[domicile]">
  <option>Quetta</option>
  <option>Panjgur</option>
  <option>Kharan</option>
  <option>Pashin</option>
  <option>Loralai</option>
  <option>Pasni</option>
  <option>Gawadar</option>
  <option>Harnai</option>
  <option disabled="disabled">restricted</option>
</select>

  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br>
    <%= f.text_field :mob %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
