<p id="notice"><%= notice %></p>
<br>
<br>
<Center>
<h1>Add Lecturers</h1>

<hr class="colorgraph"><br>
<a>
<a href="lecturers/new"><input type="button" name="login" style="width:200px; height:100px;" value="Add Lecturer" />
<a href="users"><input type="button" name="login" style="width:200px; height:100px;" value="Back" />
</a>
<br>
<br>
<hr class="colorgraph"><br>
<br>
<center>
<h1>Added Lecturers</h1>
<table border="3" style="width:80%">

  <thead>
    <tr>
      <th>Name</th>
      <th>Desig</th>
      <th>Date of join</th>
      <th>Address</th>
      <th>Qualification</th>
      <th>Cnic</th>
      <th>Type</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lecturers.each do |lecturer| %>
      <tr>
        <td><%= lecturer.name %></td>
        <td><%= lecturer.desig %></td>
        <td><%= lecturer.date_of_join %></td>
        <td><%= lecturer.address %></td>
        <td><%= lecturer.qualification %></td>
        <td><%= lecturer.cnic %></td>
        <td><%= lecturer.type %></td>
        <td><%= lecturer.description %></td>
        <td><%= link_to 'Show', lecturer %></td>
        <td><%= link_to 'Edit', edit_lecturer_path(lecturer) %></td>
        <td><%= link_to 'Destroy', lecturer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


